body{
}
.titulo-principal{
    font-size: 35px;
    margin-left:20px;
    padding: 10px 0;
    font-weight: bold;
}
#rapaziada{
    width:100%;
    height:400px;
}
.principal{
    padding: 10px;
    font-size: 16px;
}
.titulo-centralizado{
    font-size:28px;
    text-align:center;
    font-weight: bold;
}
#missao{
    text-align:center;
}
em strong{
    color:red;
    font-size:18px;
}
.integrantes{
    padding: 5px;
}
#membros{
    vertical-align:top;
    width:11%;
    
}
#resselect{
    width:10%;
    padding: 20px 20px;
    margin-left: 50px;
}