body{
    
}
header{
    /* background:rgb(6, 28, 37); */
    background:url(rodape.jpg);
    padding: 20px 0;
}
.caixa-cabe{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    width: 300px;
    height:200px;
    opacity: 100%;
}
nav a{
    display: inline-block;
    color: #c6902e;
    font-weight:bold;
    text-transform:uppercase;
    font-size:22px;
    text-decoration:none;
}
nav a:hover{
    font-size:23px;
    text-decoration: underline;
    box-shadow: 5px;
}

.imagens{
    position: relative;
    display:flex;
    margin:20px 50px ;
}

.campeoes{
    width:250px;
    margin-right: 40px;
    
}

.campeoes:hover .campeao,.campeoes:hover .estilo-nome{
    width: 270px;
    font-size: 30px;
}

.campeoes:active .campeao{
    opacity: 50%;
}

.campeao{
    width:100%;
}

.estilo-nome{
    font-style:italic;
    font-size: 18px;
    color: #c6902e;
    background:rgb(6, 28, 37);
    display:block;
    width: 100%;
    padding: 10px;
    letter-spacing: 0.08em;
    box-sizing: border-box;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px 0 ;
    text-align: center;
    /* background-color:rgb(6, 28, 37); */
    color: #c6902e;
    background:url(rodape.jpg);
    
}